;; Example php.ini
;; Author: Riccardo De Leo <r@rdeleo.com>
docref_root = Off
docref_ext = Off
short_open_tag = Off
display_startup_errors = On
display_errors = On
html_errors = On
log_errors = On
error_log = /var/log/php_errors.log
error_reporting = E_ALL
memory_limit = 1024M
upload_max_filesize = 256M
post_max_size = 256M
max_execution_time = 300
max_input_time = 240
max_input_nesting_level = 100
max_input_vars = 1000